.fighter-grid {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
  }
  
  .syc {
    text-align: center;
    color: #806b2c;
    font-size: 50px;
    font-family: "Libre Baskerville", serif;
    line-height: 4;
  }
  
  .morde {
    transition: transform 0.1s;
  }
  .morde:hover {
    transform: scale(1.05);
  }

  .riven {
    transition: transform 0.1s;
  }
  .riven:hover {
    transform: scale(1.05);
  }
  
  .kled {
    transition: transform 0.1s;
  }
  .kled:hover {
    transform: scale(1.05);
  }
  
  .darius {
    transition: transform 0.1s;
  }
  .darius:hover {
    transform: scale(1.05);
  }
  