.darius {
  background-image: url("../assassin.photos/darius.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 930px;
}

.lbgradient {
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 930px;
  background: rgb(25, 24, 25);
  background: linear-gradient(
    0deg,
    rgba(25, 24, 25, 1) 0%,
    rgba(0, 212, 255, 0) 50%
  );
}

.darname {
  text-align: center;
  color: #806b2c;
  font-size: 50px;
  font-family: "Libre Baskerville", serif;
}

.middar {
  padding-left: 20px;
  height: 150px;
}

.darrunestitle {
  margin-top: 70px;
  margin-left: 480px;
  text-align: center;
  color: #806b2c;
  font-size: 55px;
  font-family: "Libre Baskerville", serif;
}

.dar1 {
  padding-top: 50px;
  display: flex;
  justify-content: flex-start;
}

.dardom {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
}

.darprecision {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
}

.darbtitle {
  color: white;
  font-family: "Libre Baskerville", serif;
}

.darbonus {
  margin-top: 100px;
  margin-right: 250px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50px;
}

.darrunes {
  display: flex;
  justify-content: space-between;
  background-color: #31173c;
  margin-left: 80px;
  margin-bottom: 150px;
  margin-right: 80px;
  margin-top: 20px;
  border-radius: 0%;
  border: #806b2c 5px solid;
}

.daritemtitle {
  text-align: center;
  color: #806b2c;
  font-size: 55px;
  font-family: "Libre Baskerville", serif;
}

.daritems {
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 0%;
  border-top: #806b2c 3px solid;
  border-bottom: #806b2c 3px solid;
  margin: 50px;
  height: 170px;
  display: flex;
  justify-content: space-around;
}

.darability {
  padding-top: 100px;
  text-align: center;
  color: #806b2c;
  font-size: 55px;
  font-family: "Libre Baskerville", serif;
}

.dartitle {
  padding-top: 50px;
  padding-left: 100px;
  color: white;
  font-family: "Libre Baskerville", serif;
}

.darorder {
  padding-top: 10px;
  padding-left: 100px;
  display: flex;
  gap: 40px;
  height: 100px;
}

.darcombo {
  display: flex;
  gap: 40px;
  height: 100px;
  padding-top: 10px;
  padding-left: 100px;
}

.darspells {
  margin-top: 50px;
  margin-right: 250px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50px;
  padding-left: 400px;
}

.darsspells {
  padding-left: 135px;
  gap: 50px;
}

.darig {
  margin-bottom: 50px;
}

.darsability {
  display: flex;
}

.darctitle {
  padding-top: 200px;
  text-align: center;
  color: #806b2c;
  font-size: 55px;
  font-family: "Libre Baskerville", serif;
  padding-bottom: 60px;
}

.daragainst {
  padding-left: 200px;
}

.darsagainst {
  display: grid;
  padding-left: 180px;
  padding-top: 50px;
  gap: 40px;
}

.darsfor {
  display: grid;
  padding-left: 210px;
  padding-top: 50px;
  gap: 40px;
}

.darcounter {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 50px;
}
